body {
    background-color: lightblue;
    padding-top: 10vh;
}

.app-border {
    padding: 40px;
    margin: auto;
    min-height: 70vh;
    max-width: 350px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 10px 10px 25px #aaaaaa;
}

.app-title h4 {
    color: darkblue;
    text-align: center;
}

.app-input {
    padding: 30 0 20 0;
    display: flex;
    justify-content: center;
}

.app-items li {
    padding-top: 15px;
    list-style-type: none;
}
